.loginModalWindow {
  border-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  .loginContent {
    color: white;
    background-color: #28282d;
    padding: 20px;
    border-radius: 13px;
  }
}
