.moviesItem {
  max-width: 555px;
}
.filmDetailsBlock {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .quality {
    display: flex;
    .ratingSmall {
      display: flex;
      .star {
        margin-right: 10px;
        color: #f9ab00;
      }
      margin-right: 10px;
    }
  }
  // .moviesTrailer {
  //   width: 555px;
  //   height: 100%;
  //   border-radius: 5px;
  // }
  .moviesTrailer {
    width: 555px;
    min-width: 555px; // Фиксированная ширина
    height: 312px; // Рекомендованная высота для 16:9 (555/16*9≈312)
    border-radius: 5px;
    overflow: hidden; // Чтобы углы iframe тоже скруглялись

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  .moviesItem {
    padding: 0;
    gap: 24px;
  }
}
