.commentForm {
  margin-top: 60px;
  .commentTitle {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .commentDescription {
    font-size: 16px;
    margin-bottom: 15px;
  }
  width: 1140px;
  .usersInputs {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    input {
      flex: 1;
      height: 40px;
      padding: 8px 20px;
      box-sizing: border-box; // Враховує padding і border у heights
      background-color: #28282d;
      border: 1px solid rgba(255, 255, 255, 0.05);
      border-radius: 8px;
      color: white;
    }
  }
  textarea {
    width: 100%;
    min-height: 200px;
    padding: 8px 20px;
    padding-top: 15px;
    box-sizing: border-box;
    background-color: #28282d;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    resize: none;
    color: white;
  }
  .saveData {
    .saveDataChekbox {
      border-radius: 100%;
      margin-right: 10px;
      margin-top: 15px;
    }
  }
  .commentButton {
    button {
      border: none;
      display: block;
      max-width: -moz-max-content;
      max-width: max-content;
      width: 100%;
      background-color: #009688;
      box-shadow: 0 0 16px rgba(0, 150, 136, 0.6);
      border-radius: 8px;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      color: #ffffff;
      padding: 7px 25px;
      transition: all 0.5s ease;
    }
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
}
