.rating {
  margin: 20px 0;
  text-align: center;

  .stars-container {
    display: inline-flex;
    // direction: rtl; // Для правильного направления hover
  }

  .star {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 0 5px;
    transition: all 0.2s;

    &:hover,
    &:hover ~ .star {
      transform: scale(1.2);
    }
  }

  .star-filled {
    color: #ffc107; // Желтый цвет для заполненных звезд
  }

  .star-empty {
    color: #e4e5e9; // Серый цвет для пустых звезд
  }

  .rating-value {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #666;
  }
}
